2022-11-15/
envs/*.ext3
2022-11-15.zip
*.hdf5
results/
eval_results/
eval_saved_images/
sbatch/*.out
__pycache__

virtual_models/

lib/__pycache__/
lib/knn/__pycache__/
lib/knn/build/
lib/knn/dist/
lib/knn/knn_pytorch.egg-info/
lib/ransac_voting/__pycache__/
lib/ransac_voting/build/
lib/ransac_voting/dist/
lib/ransac_voting/ransac_voting_3d.egg-info/